@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

/* 🎨 Sistema de diseño */
@theme {
  /* Variables de padding responsivo */
  --spacing-psm: 100px;   /* sm: >= 640px */
  --spacing-pmd: 50px;   /* md: >= 768px */
  --spacing-pxl: 70px;  /* xl: >= 1024px */
  --spacing-p2xl: 100px; /* 2xl: >= 1280px */
  --spacing-p3xl: 200px; /* 3xl: >= 1536px */
  --spacing-p4xl: 300px; /* 3xl: >= 1920px */

  /* Breakpoint adicional personalizado */
  --breakpoint-4xl: 1920px;
  --breakpoint-3xl: 1536px

  /* Tipografía */
  --font-sans: 'Poppins', sans-serif;

  /* Colores */
  --color-bg-primary: #0B8FAC;
  --color-bg-secondary: #E1EEFF;
  --color-text-primary: #505F6D;
  --color-text-secondary: #2E2E2E;
  --color-text-bg-primary: #0B8FAC;
}


/* 🌐 Fuente global */
body {
  font-family: var(--font-sans);
  
}

@layer components{
    .h1-responsive{
        @apply
        text-2xl
        sm:text-[32px]
        lg:text-4xl 
        xl:text-[50px]
    }

    .p-responsive{
        @apply 
        text-base
        lg:text-lg 
        xl:text-3xl
    }

    .btn-responsive {
    @apply text-white bg-bg-primary rounded-xl
           px-10 py-2 text-base
           md:px-10 md:py-2 md:text-sm
           lg:px-11 lg:py-3 lg:text-lg
           xl:px-14 xl:py-4 xl:text-xl
  }
}

/* 🧩 Clase utilitaria global para padding lateral responsivo */
@layer utilities {
  .padding-general {
    padding-left: 50px;
    padding-right: 50px;

    @media (min-width: 640px) {
      padding-left: var(--spacing-psm);
      padding-right: var(--spacing-psm);
    }
    @media (min-width: 767px) {
      padding-left: var(--spacing-pmd);
      padding-right: var(--spacing-pmd);
    }
    @media (min-width: 1024px) {
      padding-left: var(--spacing-pxl);
      padding-right: var(--spacing-pxl);
    }
    @media (min-width: 1280px) {
      padding-left: var(--spacing-p2xl);
      padding-right: var(--spacing-p2xl);
    }
      @media (min-width: 1536px) {
      padding-left: var(--spacing-p3xl);
      padding-right: var(--spacing-p3xl);
    }
    @media (min-width: 1920px) {
      padding-left: var(--spacing-p4xl);
      padding-right: var(--spacing-p4xl);
    }
  }

 
}